<% unless comment.archived? %>
  <li class="list-group-item">  
    <p>
      <%= render "common/commenter"%>
      <strong>By:</strong>
      <%= comment.commenter %>
      <span class="badge text-bg-secondary"><%= comment.updated_at %></span>
    </p>

    <p>
      <%= comment.body %>
    </p>

    <p>
      <%= link_to "Delete Comment", [comment.article, comment], 
        :class => "btn btn-danger",
        data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } 
      %>
    </p>
  </li>
<% end %>
