<%= render "common/navbar" %>

<div class="container">
  <div class="row pt-5">
    Our blog has <%= Article.public_count %> public articles
  </div>
  <div class="row pt-3 pb-3">  
    <ul class="list-group">
      <% @articles.each do |article| %>
        <% unless article.archived? %>
          <li class="list-group-item">  
            <%= link_to article.title, article %>
            <span class="badge text-bg-info"><%= article.status %></span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="row">
    <div class="col-sm">   
      <%= link_to "New Article", new_article_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div>